
#display {
background-color: #EAE9E;
margin-left: 0.7em;
}
#table {
  background-color: #F7F5F7;

}
#bt {
  background-color: lightgrey;
  width: 6em;
  box-shadow: 1.5px 1.5px 1.5px black;
  color: white;
}
#bt:link,
#bt:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;

}

#bt:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: black;
}

#bt:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: black;
}

#bt-white {
    background-color: #fff;
    color: #777;
}

#bt::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

#bt-white::after {
    background-color: #fff;
}

#bt:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

#bt-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
