/* #region Table of Content */
/*    
!                     Portfolio  Main-CSS-Stylesheet
?                                    powered by
!                                     Stefan Bartl
!                      (WKDSteVIE / WKDMinerva)
?                                          2021                                                                                                                                                                        
?                  ________________________________                                                                                                                                                                                                  
!                                   Table of Content
?                                     1) CSS-Setup                                                                                                
?                                     2) General-Design
?                                     3) header
?                                     4) index.html      
.                                        - section-introduction
.                                        - section-projects             
?                                     5) about.hml
.                                        - headline
.                                        - map
.                                        - section-contact
.                                        - section-about
?                                     6) Pseudelements
.                                        - index.html
.                                        - about.html    
?                                     7) Transitions
.                                        - header
.                                        - index.html
.                                        - about.html        
?                                     8) Animations
?                                     9) Media Queries
.                                        - small devices
?                                   10) Jobs to-do   
todo                CSS - What a wonderful & tricky language !                                                                                                                                                                                                                                                                                                                                                                 */
/*#endregion*/


/*#region  CSS-Setup */

/*? ===  font(s) === */

/* futura: font-family: futura-pt,sans-serif; */
@import url("https://use.typekit.net/izw3hmc.css");

/* #region setup & themes  */

:root {

  overflow-wrap: break-word;
  word-wrap: break-word;

  --font-futura: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal; 

  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.375rem;
  --fs-700: 2rem;

  /* ! test that out if it is working */
  @media (min-width: 45em){
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 2.75rem;
  --fs-700: 4.125rem;
  }

  /* ==================  
?    ===  Colour-Palette  ===
.     ================== */
  --wkd-black: rgb(0, 0, 0);
  --wkd-darkgrey: rgb(29, 29, 29);
  --wkd-midgrey: rgb(61, 61, 61);
  --wkd-grey: rgb(107, 106, 106);
  --wkd-lightgrey: rgb(178, 182, 160);
  --wkd-white: rgb(255, 255, 255);
  --wkd-red: rgb(255, 0, 0);
  --wkd-green: rgb(82, 150, 34);
  --wkd-intense-blue: rgb(0, 0, 250);
  --wkd-pastell-blue: rgb(25, 145, 210);
  --wkd-torquise: rgb(8, 253, 216);
  --wkd-blueviolett: rgb(21, 23, 76);
  --wkd-yellow: rgb(255, 255, 0);
  --wkd-yellow-dark: rgb(255, 183, 0);
  --wkd-orange: rgb(255, 102, 0); /* filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%); */
  --wkd-grapefruit: rgb(239, 95, 87);
  --wkd-pink: rgb(255, 0, 128);
  --wkd-pinkviolett: rgb(255, 0, 255);  /* filter: brightness(0) saturate(100%) invert(19%) sepia(63%) saturate(4179%) hue-rotate(293deg) brightness(123%) contrast(136%); */
  --wkd-manner: rgb(235, 184, 173);
}

:root.theme_prime{

/*? === design === */
--main-colour: var(--wkd-darkgrey);
--counter-colour: var(--wkd-orange);
--design-strokes-colour: var(--wkd-grey);
--design-strokes-accent-colour: var(--wkd-pinkviolett);
--shadows: var(--wkd-white);

/*? === text === */
--text-optimal-width: clamp(45ch, 50%, 75ch);
--text-main-colour: var(--wkd-white);
--link-hover-color: var(--wkd-red);
}

/* #endregion */

/* #region resets */

/* box-sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
picture {
  margin: 0;
}

/* set up the body*/
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who turned them off*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* #endregion */

/* #endregion */


/* #region General-Design */

body {
  background-color: var(--main-colour);
  color: var(--text-main-colour);
  font-family: var(--font-futura);
}

header,
.section-contacts,
section {
  padding: 1rem;
}

/* ? Headlines */ 

h1, h2 {
  overflow-wrap: break-word;
}

h1 {
  color: var(--counter-colour);
  padding-right: 1rem;
  font-size: 4.5vw;
}

h2 {
  color: var(--counter-colour);
}

h3 {
  text-transform: uppercase;
}

.introduction-headline-outro {
  color: var(--wkd-lightgrey);
}

/* ? links */
a {
  text-decoration: none;
}

/* ? summarized properties */

header, /* navbar */
nav,
ul,
.div-audio,
.section-introduction,  /* index.html */
.introduction-headline,
.div-headline-section-projects,
.projects,
.div-about-headline,  /* about.html */
.section-about,
.section-contacts  {
  display: flex;
}

.div-image-introduction,  /* index.html */ 
.section-contacts,  /* about.html */
.div-socialmedia,
.div-myblog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* #endregion */


/* #region header */

header {
  width: 100%;
  line-height: 1;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--main-colour);
}

.navlist {
  width: 100%;
  margin-right: 2rem;
  align-items: center;
  position: relative;
}

.navlist::after {
  content: "";
  border: solid 2px var(--design-strokes-colour);
  position: absolute;
  left: 1rem;
  bottom: -1rem;
  width: 100%;
  transition: all 2s ease;
}

ul {
  gap: 3rem;
  width: 100%;
  font-size: var(--fs-600);
  font-weight: bold;
  margin-right: 2rem;
}

ul :nth-child(5) {
  /* last navbar item */
  margin-left: auto;
  font-size: small;
  align-self: center;
  color: var(--text-main-colour);
}

ul :nth-child(5):hover::marker {
    /* last navbar item arrow */
  font-size: var(--fs-500);
}

li {
  position: relative;
  cursor: pointer;
}

li a {
  color: var(--text-main-colour);
}

li::marker {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f054";
  font-size: var(--fs-500);
  transform: scale(1);
  transition: all 1500ms;
}

ul > li {
  /* navlist marker  distance */
    padding-left: 0.4em;
  }

/* ? music toggle */

.div-audio {
  cursor: pointer;
  color: var(--design-strokes-colour);
}

.div-audio[data-sound = "on"]  {
  color: var(--counter-colour);
}

.musicnote {
  width: 3rem;
  aspect-ratio: 1/1;
}

.p-audio {
  width: 4ch;
}

/*#endregion */


/* #region index.html */

/* #region section: section-introduction */

.section-introduction {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
  padding-right: 2.5rem;
  min-height: 100vh;
}

/* #region introduction-headline */

/* ? introduction- mylogo */
.introduction-mylogo {
  height: max(100px, 10vh);
  aspect-ratio: 1/1;
  padding-top: 5.5rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.my-logo-img {
  transition: all 1s ease;
}

.my-logo-img:hover {
  filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

/* ? headline */

.introduction-headline {
  width: 100%;
  height: fit-content;
}

.headline {
  padding-top: 5rem;
  margin-left: auto;
  margin-bottom: 4rem;
  position: relative;
  background-color: var(--main-colour);
  z-index: 3;
}

/* #endregion */

/* #region introduction-content */

.introduction-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* ? introduction-image */

.div-image-introduction {
width: max(300px, 30vw);
}

.image-introduction {
  border-radius: 3rem;
  filter: drop-shadow( -1rem 1rem 2rem white);
}

/* ? introduction-text */

.div-introduction-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50ch;
  max-width: 75ch; 
  font-size: var(--fs-500);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.introduction-headline-one {
position: relative;
margin-block: 2rem;
}

.div-introduction-description p {
  align-items: center;
  padding-left: 3rem;
}

.introduction-headline-outro {
  padding-left: 3rem;
  margin-top: 1rem;
  text-align: center;
  font-size: var(--fs-600);
}

/* #endregion */

/*#endregion */

/* #region section: projects  */

/* #region projects-headline */

.div-headline-section-projects {
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 10vh;
  position: sticky;
  top: 5.6rem;
  z-index: 2;
}

.headline-section-projects {
  font-size: 4rem;
  margin-left: auto;
  margin-right: 1rem;
  padding-right: 1rem;
  position: relative;
}

/* #endregion */

/* #region projects */

.projects {
  flex-wrap: wrap;
  gap: 5rem;
  filter: blur(1rem);
  transition: all 500ms;
}

.project-one,
.project-two,
.project-three,
.project-four {
  margin-bottom: 10rem;
}

.projects:hover {
  filter: blur(0);
}

/* ? projects-image */

.image-projects {
 filter: drop-shadow(0rem -1rem 3rem white);
}

/* ? projects-div's */

.div-projects-image {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

.div-projects-description {
  font-size: var(--fs-600);
  width: var(--text-optimal-width);
  margin-left: auto;
  margin-right: auto;
}

.projects h3 {
  width: fit-content;
}

.projects p {
  padding-left: 3rem;
}

/* ? projects links */

.projects a {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: var(--fs-600);
  font-weight: bold;
  position: relative;
}

.project-one a,
.project-three a {
  color: var(--wkd-red);
}

.project-two a {
  color: var(--wkd-intense-blue);
}

.project-four a {
  color: var(--wkd-white);
}

/* #endregion */

/*#endregion */

/* #endregion */ 


/* #region about.html */

/* #region headline */

.div-about-headline {
  padding-top: 6rem;
  margin-right: 2rem;
 }
 
 .about-headline {
   margin-left: auto;
   margin-right: .5rem;
   background-color: var(--main-colour);
   position: relative;
   z-index: 3;
 }
 
 .about-mylogo {
   height: max(100px, 10vh);
   aspect-ratio: 1/1;
   margin-left: 2rem;
   margin-top: -.5rem;
   padding-top: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
   position: relative;
   background-color: var(--main-colour);
   z-index: 3;
 }
 
 /* #endregion */

/* #region section-about */ 

.section-about{
  width: 100%;
  padding-bottom: 3rem;
  padding-left:  2rem;
  padding-right: 2rem;
}

.about-div-description {
  width: var(--text-optimal-width);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.about-div-description  h2 {
  width: max-content;
  position: relative;
}

.about-div-description :nth-child(3),
.about-div-description :nth-child(5),
.about-div-description :nth-child(7) {
  margin-top: 3rem;
}

.about-div-description  p {
  padding-left: 3rem;
}

.about_paragraph_four{
  font-weight: bold;
  margin-left: 2rem;
  text-align: center;
  width: 80%;
}

.about-signature {
  width: 50%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

/* #endregion */

/* #region map */

.about-div-map {
  margin-top: 4rem;
}

.div-map {
  position: relative;
}

.about-image-map {
  filter: grayscale(.8);
}

.about-image-me-div{
  width: clamp(100px, 30%, 25vh);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 3rem;
  clip-path: circle();
  animation: rotate-element-animation 20s infinite linear;
}

/* #endregion */

/* #region section contact */

.section-contacts {
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.headline-contact {
  align-self: flex-end;
  font-size: 3rem;
  position: relative;
}

.wrapper-socialicons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.img-socialmedia {
  width: 2rem;
  height: 2rem;
}

/* ? invert the all black github logo to white*/

.div-socialmedia :nth-child(6) {
  filter: invert(1);
}

/* ? E-mail me link */
.myemail {
  color: var(--counter-colour);
}

.myemail:hover {
  color: var(--link-hover-color);
}

.credits {
  font-size: smaller;
  color: var(--wkd-grey);
}

/* #endregion */

/* #endregion */ 


/* #region Pseudoelements */

/* ? Pseudelements General-Ruleset */ 

.introduction-mylogo::after,  /* navbar */
.introduction-mylogo::before,
.headline::before,
.headline::after,
.div-introduction-description::before,  /* index.html */
.div-introduction-description::after,
.introduction-headline-one::before,
.introduction-headline-one::after,
.div-headline-section-projects::before,
.headline-section-projects::before,
.headline-section-projects::after,
.about-mylogo::before,  /* about.html */
.about-mylogo::after,
.about-headline::before,
.about-headline::after,
.about-headline-two::before,
.about-headline-three::before,
.about-headline-one::before,
.about-div-description  h2::after,
.div-map::after,
.headline-contact::before,
.headline-contact::after {
  content: "";
  border: solid 2px var(--design-strokes-colour);
  position: absolute;
  transition: all 2s ease;
}

/* #region index.html */

/* #region section intro */

/* ? headline */ 

.introduction-mylogo::after {
  left: 0;
  bottom: -4.2rem;
  height: 100%;
  transition: 1.5s;
}

.introduction-mylogo::before{
  bottom: -4.2rem;
  left: 0;
  width: 20%;
  transition: 1s;
}

.headline::before {
  bottom: 0;
  right: -.5rem;
  width: 50%;
}

.headline::after {
  bottom: 0;
  right: -.5rem;
  height: 0%;
}

/* ? page introduction-content */

.div-introduction-description::before {
  bottom: -.2rem;
  right: 0;
  height: 2rem;
  transition: 1s;
}

.div-introduction-description::after {
  bottom: 0;
  right: -.3rem;
  width: 2rem;
  transition: 1s;
}

/* ? intruduction-text */ 

.introduction-headline-one::before {
  top: -.5rem;
  left: -1.5rem;
  width: 2rem;
  transition: 1s;
}

.introduction-headline-one::after {
  top: -1rem;
  left: -1rem;
  height: 2rem;
  transition: 1s;
}

/* #endregion*/

/* #region section projects */

/* ? section: introduction */

.div-headline-section-projects::before {
  top: 0;
  right: 1rem;
  width: 20%;
 }

.headline-section-projects::before {
  bottom: 0;
  right: 0;
  height: 150vh;
 }
 
.headline-section-projects::after {
 bottom: 0;
 right: 0;
 width: 50%;
}
    
/* #endregion */ 

/* #endregion */

/* #region about.html */

/* ? mylogo */

.about-mylogo::before{
  bottom: 0;
  left: 0;
  width: 20%;
  transition: 1s;
}

.about-mylogo::after {
  left: 0;
  bottom: 0;
  height: 100%;
  transition: 1.5s;
}

/* ? about headline */

.about-headline::before {
  bottom: 0;
  right: -.5rem;
  width: 50%;
}

.about-headline::after {
  bottom: 0;
  right: -.5rem;
  height: 0%;
}

/* ? text headlines */

.about-headline-two::before { 
  content: "";
  left: -1rem;
  bottom: 0;
  height: 100vh;
}

.about-headline-three::before { 
  left: -1rem;
  bottom: 0;
  height: 100vh;
}

/* ? strokes left-side  */

.about-headline-one::before { 
  left: -1rem;
  bottom: 0;
  height: 100vh;
}

/* ? strokes to underline h2 */

.about-div-description  h2::after {
  left: -1rem;
  bottom: 0;
  width: calc(100% + 1rem);
  border-width: 1px;
}

/* ? map circles */

.div-map::after {
  top: 41%;
  right: 37%;
  width: 4rem;
  height: 4rem;
  border-width: 3px;
  border-style: dashed;
  border-radius: 50%;
  transition: 500ms;
}

/* ? contact headline */

.headline-contact::before {
  bottom: 0;
  right: -1rem;
  width: 50%;
}

.headline-contact::after {
  bottom: 0;
  right: -1rem;
  height: 200vh;
}

/* #endregion */

/* #endregion */


/* #region Transitions */

/* #region header */

/* ? navbar hover transition */
header:hover .navlist::after{
  left: 10%;
  width: 80%;
  border-color: var(--design-strokes-accent-colour);
}

/* ? navbar items hover transition */

li {
  transition: all 1s ease;
}

li:hover::marker {
  color: var(--counter-colour);
  transform: scale(1.3);
}

li:hover {
  transform: scale(1.3);
}

/* ? music toggle hover transition */

.musicnote {
  transition: all 1s ease;
}

.musicnote:hover  {
  transform: scale(1.3);
}

/* #endregion */ 

/* #region index.html */

/* #region introduction */

/* ? mylogo transition */

.introduction-mylogo:hover::after{
  height: 30%;
  border-color: var(--design-strokes-accent-colour);
}

.introduction-mylogo:hover::before{
  width: 30%;
  border-color: var(--design-strokes-accent-colour);
}

/* ? headline transition */

.headline:hover::before {
  width: 30%;
  border-color: var(--design-strokes-accent-colour);
}

.headline:hover::after {
  height: 100%;
  border-color: var(--design-strokes-accent-colour);
}

/* ? introduction-content transitions */

.introduction-content:hover .div-introduction-description::before {
  border-color: var(--design-strokes-accent-colour);
  bottom: 0;
  right: 0;
  height: 2rem;
}

.introduction-content:hover .div-introduction-description::after {
  border-color: var(--design-strokes-accent-colour);
  bottom: 0;
  right: 0;
  width: 2rem;
}

.introduction-content:hover  .introduction-headline-one::before {
  border-color: var(--design-strokes-accent-colour);
  top: -.5rem;
  left: -1rem;
  width: 2rem;
}

.introduction-content:hover .introduction-headline-one::after {
  border-color: var(--design-strokes-accent-colour);
  top: -.5rem;
  left: -1rem;
  height: 2rem;
}

/* #endregion */ 

/* #region projects */

/* ? design strokes */

.section-projects:hover .div-headline-section-projects:before {
  border-color: var(--design-strokes-accent-colour);
  top: 0;
  right: 1rem;
  width: 3rem;
 }

 .section-projects:hover .headline-section-projects::before {
  border-color: var(--design-strokes-accent-colour);
 }

 .section-projects:hover .headline-section-projects::after {
   border-color: var(--design-strokes-accent-colour);
  bottom: 0;
  right: 0;
  width: 25%;
 }

/* ? a links */

.projects a:hover{
  transition: all 1000ms ease;
  }

  .projects a:hover{
  transform: scale(1.2);
  }

/* #endregion */ 

/* #endregion */

/* #region about.html */

/* ? my logo  */

.about-mylogo:hover::before {
  width: 30%;
  border-color: var(--design-strokes-accent-colour);
}

.about-mylogo:hover::after {
  height: 30%;
  border-color: var(--design-strokes-accent-colour);
}

/* ? page headline */

.about-headline:hover::before { 
  border-color: var(--design-strokes-accent-colour);
  width: 30%;
}

.about-headline:hover::after { 
  border-color: var(--design-strokes-accent-colour);
  height: 100%;
  }

  /* ?   left side to top stroke */
.about-div-description:hover  .about-headline-three::before {
  border-color: var(--design-strokes-accent-colour);
}

/* ? underline h2 left */
.about-div-description:hover  h2::after  {
border-color: var(--design-strokes-accent-colour);
width: 2rem;
}

/* ? map circles */

.div-map:hover::after {
  border-color: var(--wkd-pinkviolett);
  transform: scale(2);
  animation: map-animation 10s infinite alternate ease;
}

/* ? contact headline */

.section-contacts:hover .headline-contact::before {
  border-color: var(--design-strokes-accent-colour);
  width: 3rem;
}

.section-contacts:hover .headline-contact::after {
  border-color: var(--design-strokes-accent-colour);
  height: 3rem;
}

/* ? social media icons */

.img-socialmedia {
  transition: all 500ms ease;
  filter: grayscale(0.8);
}

.img-socialmedia:hover {
  transform: scale(2);
  filter: grayscale(0);
}

/* ? myblog */

.myblog-image {
  transition: all 500ms ease;
  filter: grayscale(0.8);
}

.myblog-image:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

/* ? credits */

.credits {
  transition: all 1s ease;
}

.credits:hover {
  color: var(--link-hover-color);
  font-size: medium;
}

/* #endregion */ 

/* #endregion */


/* #region Animations */

.about-image-me-div{
  animation: rotate-element-animation 20s infinite linear;
}

  @keyframes rotate-element-animation {
   0% {transform:perspective(300px) rotateY(0deg)}
   25% {transform:perspective(300px) rotateY(90deg)}
   50% {transform:perspective(300px) rotateY(180deg)}
   75% {transform:perspective(300px) rotateY(270deg)}
   100% {transform:perspective(300px) rotateY(360deg)}
}

@keyframes map-animation {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1.2);
    border-color: var(--counter-colour);
  }
  to {
    transform: rotate(360deg);
    transform: scale(.5); 
    border-color: var(--design-strokes-accent-colour);
  }
}

/* #endregion */


/* #region Media Queries */

/* ? small devices */
@media (max-width: 767.98px) {

  /* ?   shrink headlines*/
  .headline,
  .about-headline {
    font-size: var(--fs-700);
  }

  /* #region header / navlist */

  header {
    padding: 0%;
    width: 100vw;
  }

  .navlist {
    margin-right: 0%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
  }
  
  .navlist::after {
    left: 0;
    bottom: 0;
    width: 100vw;
  }
  
  ul {
    gap: 10%;
    width: 100%;
    font-size: var(--fs-400);
    font-weight: normal;
  }

  ul :nth-child(5) {
    /* last navbar item */
    margin-left:0%;
  }
  
  ul :nth-child(5):hover::marker {
      /* last navbar item arrow */
    font-size: var(--fs-400);
  }
  
  li {
    position: relative;
    cursor: pointer;
  }
  
  li a {
    color: var(--text-main-colour);
  }
  
  li::marker {
    font-weight: 600;
    font-size: var(--fs-400);
  }
  
  ul > li {
      padding-left: 0.2em;
    }
    
    .musicnote {
      width: 2rem;
      height: 2rem;
      margin-top: auto;
      margin-bottom: auto;
    }
    .p-audio {
      width: 3ch;
    }

  /* #endregion */

  /* #region index.html */

  /* ?   Introduction */ 

  .section-introduction {
    margin-bottom: 0;
  }

  .introduction-headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    gap: 2rem;
    
  }

  .introduction-mylogo {
    height: 4rem;
    width: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .headline {
    margin-bottom: 1rem;
    padding: 0;
    background: none;
    text-align: center;
  }

  .introduction-content {
    margin-top: 3rem;
    gap: 3rem;
  }

  .image-introduction {
    margin-bottom: 1.5rem;
  }

  /* ?   Section: Projects */

  .div-headline-section-projects  {
     position: relative;
     margin-top: -4rem;
     margin-bottom: 13rem;
     width: fit-content;
     margin-right: auto;
     margin-left: auto;
  }

  .projects {
    filter: blur(0);
  }

  .div-projects-image {
    margin-top: 2rem;
  }

  .projects h3 {
    padding-left: 1rem;
  }

  .projects p {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .projects a {
    width: fit-content;
    margin-top: -4rem;
    z-index: 2;
  }

  .project-one,
  .project-two,
  .project-three,
  .project-four {
  margin-bottom: 3rem;
}

  /* ?   Pseudoelements & Transitions */

  /* disable on mobile devices */
  .introduction-mylogo::before,
  .introduction-mylogo::after,
  .headline::before,
  .headline::after {
    display: none;
  }

  /*  left bottom to left top */
  .headline-section-projects::before {
    height: 30%;
    left: -1rem;
    right: calc(100% + 1rem);
    bottom: 0;
   }
   .section-projects:hover .headline-section-projects::before {
    height: calc(100% + 1rem);
    bottom: -.5rem;
    border-style: dotted;
   }

    /*  left bottom to right bottom */
   .headline-section-projects::after {
    left: -1rem;
    width: 50%;
   }
   .section-projects:hover .headline-section-projects::after {
    left: -1.5rem;
    width: 70%;
    border-style: dotted;
   }

   /*  left top to right */
   .div-headline-section-projects::before {
    top: 0;
    left: 0;
    width: 70%; 
   }
   .section-projects:hover .div-headline-section-projects::before {
    top: 0;
    left: -1.5rem;
    width: 30%;
    border-color: var(--design-strokes-accent-colour);
    border-style: dotted;
  }

  .projects a:hover {
    transform: none;
  }

  /* #endregion */

  /* #region about.html */

    /* ?   Headline */ 

  .div-about-headline {
    display: flex;
    flex-direction: column;
    padding-top: 30%;
    margin-right: 0%;
  }

   .about-mylogo {
     width: 20%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 0%;
     margin-bottom: 2rem;
     padding-top: 0%;
     padding-left: 0%;
     padding-right: 0%;
     background-color: none;
   }

  .about-headline {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background-color: none;
    font-size: 3rem;
    text-align: center;
    background: none;
  }
  
    /* ?   Section: About */ 

  .section-about {
    flex-direction: column;
    padding-left: 0%;
    padding-right: 0%;
  }

  .about-div-description {
    width: auto;
  }
  
  .about-div-description  h2 {
    width: max-content;
    position: relative;
  }
  
  .about-div-description :nth-child(3),
  .about-div-description :nth-child(5),
  .about-div-description :nth-child(7) {
    margin-top: 3rem;
  }
  
  .about-div-description  p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .about_paragraph_four{
    margin-left: auto;
    margin-right: auto;
  }

    /* ?   Map */ 

  .about-image-me-div {
    left: .5rem;
  }

    /* ?   Contact */ 

  .headline-contact::after {
    height: 2rem;
  }

  .img-socialmedia {
    filter: grayscale(0);
  }

  .myblog-image {
    filter: grayscale(0);
  }

  .credits {
    color: var(--design-strokes-accent-colour);
  }

  /* ?    Pseudoelements & Transitions */

  .about-mylogo::before,
  .about-mylogo::after,
  .about-headline::before,
  .about-headline::after {
   display: none;
 }

 .about-div-description:hover .about-headline-two::before { 
  border-color: var(--design-strokes-accent-colour);
}

.div-map {
  transition: none;
}

.div-map::after {
  top: 32%;
  right: 31%;
  border-color: var(--design-strokes-accent-colour);
  animation: map-animation 10s infinite alternate ease;
}

.div-map:hover::after {
  transform: none;
}

.img-socialmedia:hover {
  transform: none;
}

  /* #endregion */

}

/* #endregion */


/* #region jobs to-do */

/*
todo    handle navbar overflow on small screens
todo    project-headline sticky position doesnt work so good on small display
todo    set media-queries for small devices
todo    enable second page theme
*/      

/* #endregion */
