body {
  display: flex;
}

table {
  border-style: dotted;
  color: white;
  background-color: black;
  font-family:"Courier New", monospace;
}

table td {
  text-align: center;
}

crashb, rideb, ftomb, mtomb, htomb, kick1b, kick2b, snareb, hhatopb, hhatclob {

}
